body {
    background-color: rgb(25, 26, 56);
    color:whitesmoke
}

main {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 110px 20px auto 95px;
    grid-template-columns: 1fr 1fr 1fr;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / span 1 / span 3;
    margin: 0px 20px 0px 20px;
    color:whitesmoke;
}

nav {
    grid-area: 2 / 1 / span 1 / span 3;
    margin: 0px 20px 0px 20px;
    background-color: cadetblue;
    padding: 10px;
}

article {
    grid-area: 3 / 1 / span 1 / span 2;
    margin: 15px 0px 15px 20px;
    background-color: rgb(48, 80, 138);
    height: auto;
    padding: 50px;
    font-size: 20px;
}

aside {
    grid-area: 3 / 3 / span 1 / span 1;
    margin: 0px 5px 0px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

aside div {
    text-align: center;
    padding: 5px;
    margin: 5px;
    height: 100%;
}

.botao {
    background-color: rgb(67, 59, 138);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: whitesmoke;
    border-color: rgb(25, 26, 56);
    border-style: dashed;
    flex: auto;
    margin: 5px;
}

#b1 {
    background-color: rgb(50, 36, 98);
}

.botao:hover {
    border-style: dashed;
    border-color: whitesmoke;
}

footer {
    grid-area: 4 / 1 / span 1 / span 3;
    margin: 0px 20px 10px 20px;
    background-color: rgb(11, 12, 19);
    text-align: center;
    padding: 10px;
}

a {
    color: whitesmoke;
}