body {
    background-color: darkslateblue;
    color:whitesmoke
}

main {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 90px 50px auto 100px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    grid-area: 1 / 1 / span 1 / span 3;
    background-color: brown;
    text-align: center;
}

nav {
    grid-area: 2 / 1 / span 1 / span 3;
    background-color: cadetblue;
    padding: 10px;
}

article {
    grid-area: 3 / 1 / span 1 / span 2;
    background-color: darkgoldenrod;
    height: auto;
    padding: 30px;
    font-size: 20px;
}

aside {
    grid-area: 3 / 3 / span 1 / span 1;
    background-color: darkgreen;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

aside div {
    text-align: center;
    padding: 5px;
    margin: 5px;
    height: 100%;
}

.botao {
    background-color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: whitesmoke;
    border-color: grey;
    border-style: dashed;
    flex: auto;
    margin: 5px;
}

#b1 {
    background-color: grey;
}

.botao:hover {
    border-style: dashed;
    border-color: whitesmoke;
}

footer {
    grid-area: 4 / 1 / span 1 / span 3;
    background-color: black;
    padding: 10px;
    padding-bottom: 20px;
}

a {
    color: whitesmoke;
}